<div>
  <header class="top-nav fade-in">
    <div class="grid-container">
      <div class="column-24">
        <div class="tablet-hide">
          <a href="https://www.sitepen.com/blog/2017/03/29/what-typescript-can-offer-to-dojo-1-x/" class="top-nav-title">ArcGIS JS API 4.x App</a>
          <nav class="top-nav-list" role="navigation" aria-labelledby="topnav">
            <a class="top-nav-link" href="https://www.typescriptlang.org/docs/home.html">Using TypeScript & Dojo</a>
          </nav>

          <nav class="class-top-nav-list right" role="navigation" aria-labelledby="usernav">
            <a class="top-nav-link icon-ui-experimental margin-left-1" href="https://github.com/nicksenger/2018-TS-DS">Repository</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="grid-container leader-1 trailer-1">
    <div class="column-6">
      <aside class="side-nav">
        <h4 class="side-nav-title">
          Masked Features
          <a
            data-dojo-attach-point="unmaskAllBtn"
            class="font-size--2 unmask-all-btn"
          >
            Unmask All
          </a>
        </h4>
        <div
          data-dojo-attach-point="labelContainer"
          class="padding-leader-half padding-trailer-half padding-left-half padding-right-half label-container"
        ></div>
      </aside>
    </div>
    <div data-dojo-attach-point="mapMainContainer"></div>
  </div>
</div>